# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.7.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [6]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [7]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [8]:
print(y)

[1 0 1 ... 1 1 0]

In [11]:
dataset.notnull(). count()

RowNumber          10000
CustomerId         10000
Surname            10000
CreditScore        10000
Geography          10000
Gender             10000
Age                10000
Tenure             10000
Balance            10000
NumOfProducts      10000
HasCrCard          10000
IsActiveMember     10000
EstimatedSalary    10000
Exited             10000
dtype: int64

In [12]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

### Encoding categorical data

Label Encoding the "Gender" column

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [14]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [16]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [19]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [20]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [21]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [22]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [23]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [24]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5031 - accuracy: 0.7928
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4609 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4469 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4392 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4343 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4307 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4274 - accuracy: 0.8031
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4250 - accuracy: 0.8069
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4214 - accuracy: 0.8080
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4170 - accuracy: 0.8101
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4105 - accuracy: 0.8145
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4018 - accuracy: 0.8216
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3915 - accuracy: 0.8284
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3819 - accuracy: 0.8357
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3744 - accuracy: 0.8380
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3692 - accuracy: 0.8421
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3651 - accuracy: 0.8446
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3624 - accuracy: 0.8474
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3604 - accuracy: 0.8489
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3590 - accuracy: 0.8503
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3575 - accuracy: 0.8530
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3564 - accuracy: 0.8531
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3553 - accuracy: 0.8539
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3543 - accuracy: 0.8556
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3538 - accuracy: 0.8565
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8564
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3517 - accuracy: 0.8560
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3511 - accuracy: 0.8569
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8564
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3499 - accuracy: 0.8576
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3492 - accuracy: 0.8583
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3485 - accuracy: 0.8579
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8580
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8606
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3474 - accuracy: 0.8583
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8590
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8593
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8595
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8600
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8601
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8596
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3448 - accuracy: 0.8609
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8599
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3446 - accuracy: 0.8594
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8591
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8587
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8600
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8595
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8594
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8604
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8600
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8602
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8584
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8589
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8600
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8595
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8595
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8602
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8608
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8614
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8602
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8616
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8608
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8596
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8618
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8634
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8602
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8622
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8606
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8620
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8611
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8620
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8606
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8609
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8601
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8619
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8609
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8616
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8610
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8621
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8604
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8609
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8609
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8629
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8608
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8626
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8618
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8611
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8624
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8608
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8610
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8615
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8624
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8622
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8620
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8602
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8611
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8605
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8624
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8619

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [25]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [26]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1507   88]
 [ 194  211]]

0.859